<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis corrupti nesciunt inventore necessitatibus
  laudantium modi itaque natus eligendi? Iusto reiciendis pariatur hic praesentium ratione impedit! Nam id quas
  molestiae nobis.</p>

<alert type="success">
  <strong>Well done!</strong> You successfully read this important alert message.
</alert>

<div class="container">
  <div class="row text-center">
    <div class="col-sm-3 border">0</div>
    <div class="col-sm-3 border">0</div>
    <div class="col-sm-3 border">0</div>
    <div class="col-sm-3 border">0</div>
  </div>
</div>

<button type="button" class="btn btn-primary">
  Single Button
</button>


<alert type="success">hello</alert>

<accordion>
  <accordion-group heading="Static Header">
    This content is straight in the template.
  </accordion-group>
  <accordion-group heading="Another group">
    <p>Some content</p>
  </accordion-group>
  <accordion-group heading="Another group">
    <p>Some content</p>
  </accordion-group>
  <accordion-group heading="Another group">
    <p>Some content</p>
  </accordion-group>
</accordion>

<carousel class="test">
  <slide>
    <img src="https://valor-software.com/ngx-bootstrap/assets/images/nature/1.jpg" alt="first slide"
      style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="https://valor-software.com/ngx-bootstrap/assets/images/nature/2.jpg" alt="second slide"
      style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="https://valor-software.com/ngx-bootstrap/assets/images/nature/3.jpg" alt="third slide"
      style="display: block; width: 100%;">
  </slide>
</carousel>

<div class="btn-group" dropdown>
  <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
    aria-controls="dropdown-basic">
    Button dropdown <span class="caret"></span>
  </button>
  <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
    <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
    <li class="divider dropdown-divider"></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>